body {
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1400px;
    overflow: auto;
}

.menu {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}

.menu.scrolled {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.menu-item {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 300px;
    margin-top: 20px;
}

.menu-items {
    font-size: 20px;
    margin-left: 20px;
    color: #676767;
    cursor: pointer;
    margin-top: 20px;
}

.menu-items:hover {
    color: #AE0C0E;
}

.menu-item-const {
    position: absolute;
    right: 30px;
}

.laungage {
    color: black;
}

.connect {
    width: 170px;
    height: 50px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    background-color: #AE0C0E;
    color: white;
    border: none;
    cursor: pointer;
}

.connect:hover {
    background-color: rgba(68, 5, 5, 0.8);
}

.connect1 {
    margin-left: 0;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    font-size: 15px;
}

.sidebar-menu {
    position: absolute;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    top: 30px;
}

.none1 {
    display: none;
}
@media screen and (max-width: 650px) and (min-width: 300px){
    .ant-drawer-content-wrapper {
        width: 300px !important
    }
    .mobile-info .page1-text {
        font-size: 30px !important;
    }
    .page1-info .page1-infotext {
     font-size: 16px;
    }
   .mobile-info .connect-all{
        width: 110px;
       height: 40px;
       font-size: 15px;
    }
    .container .page2-haqida{
        font-size: 45px;
        padding-top: 30px;
    }
    .container .page2-card{
        width: 90% !important;
    }
    .page2-card .page2-text{
        font-size: 30px;
    }
    .page2-card .page2-info{
        font-size: 12px;
    }
    backimage{
        width: 50%;
    }
    .backimage-content .page2-info2{
        font-size: 40px;
    }
    .page2-xizmat .page2-img{
        width: 30%;
        padding-left: 35%;
    }
    .page2-xizmat .page2-xizmat-text{
        font-size: 12px;
        line-height: 20px;

    }
    .page3-type {
        display: flex;
        padding-top: 30px;
    }

    .element1 .page-3btn {
        width: 100px;
        height: 40px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: bold;

    }
    .page3-type .element2{
        width: 120px;
        height: 100px;
        border-radius: 50%;
    }
    .page3-xizmat .page3-text{
        font-size: 18px;
    }
    .page3-back {
        max-height: 400px;
        border-radius: 16px;
        box-sizing: border-box;
    }

    .page3-back .page3-img {
        width: 80%;
        padding: 50px 20px 30px 50px;
        border-radius: 40px;
        height: 75%;
    }
    .page3-info .page3-title{
        width: 100%;
        font-size: 25px;
        line-height: 25px;
    }
    .page4-background .page4-card {
        margin: 0 auto;
        width: 90%;
    }
    .page4-card .card-title{
        font-size: 25px;
    }
    .page4-img .page4-imgs{
        width: 300px;
        border-radius: 30px;
    }
    .container .page4-text {
        font-size: 16px !important;
        max-width: 80%;
    }
    .container .page4-text-element{
        font-size: 14px !important;
    }
}
@media screen and (max-width: 768px ){
    .none1{
        display: inline;
    }
    .none-menu{
        display: none;
    }
    .menu{
        height: 80px;
    }
    .sidebar-menu{
        top:15px
    }
    .logo-img{
        margin-top: 0px;
    }
    .page2-xizmat .page2-img{
        width: 30%;
        padding-left: 35%;
    }
    .container .page1 {
        margin-top: 100px;
    }
    .container .page4-text {
        font-size: 15px;
        max-width: 85%;
    }
    .container .page4-text-element{
        font-size: 10px;
    }
}
@media screen and (max-width: 992px) {
    .none {
        display: none;
    }
    .page3-img{
        display: none;
    }
    .menu{
        height: 100px;
    }
    .mobile-info {
        background-image: url("../images/images_backg.jpeg");
        background-size: cover;
        padding: 30px 30px;
        width: 100%;
        box-sizing: border-box;
    }
    .menu-item {
        margin-top: 7px;
    }

    .menu-items {
        font-size: 18px;
        margin-left: 15px;
        color: #676767;
        cursor: pointer;
    }
    .connect {
        width: 100px;
        height: 40px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: bold;
    }
    .logo{
        margin-top: 10px;
    }
    .logo-img {
        width: 200px;
    }

    .aparat {
        display: none;
    }

    .mobile-info .page1-text {
        font-size: 50px;
    }

    .page1-info .page1-infotext {
        color: white;
        font-weight: bold;
        font-family: Unbounded;
    }
    .container .page2-haqida{
        font-size: 45px;
        padding-top: 20px;
    }
    .page3-back {
        min-height: 470px !important;
        padding-left: 50px;
        box-sizing: border-box;
    }

    .page3-back .page3-img {
        width: 80%;
        padding: 50px 20px 30px 50px;
        border-radius: 40px;
        height: 80%;
    }

    .page4-background .page4-card {
        margin: 0 auto;
    }

    .container .page2-card {
        width: 95%;
    }
    .container .page4-text {
        font-size: 28px;
    }
    .container .page4-text-element{
        font-size: 20px;
    }

}

@media screen and (max-width: 992px) and (min-width: 768px){
    .menu-items {
        font-size: 15px;
        margin-left: 14px;
    }
    .connect {
        width: 80px;
        height: 30px;
        border-radius: 25px;
        font-size: 12px;
        font-weight: bold;
    }
    .page3-type {
        display: flex;
        padding-top: 30px;
    }

    .element1 .page-3btn {
        width: 120px;
        height: 50px;
        border-radius: 30px;
        font-size: 17px;
        font-weight: bold;

    }
    .page3-type .element2{
        width: 130px;
        height: 110px;
        border-radius: 50%;
    }
    .page3-xizmat .page3-text{
        font-size: 18px;
    }
    .page3-back {
        max-height: 400px;
        border-radius: 16px;
        box-sizing: border-box;
    }

    .page3-back .page3-img {
        width: 80%;
        padding: 50px 20px 30px 50px;
        border-radius: 40px;
        height: 75%;
    }
    .page4-background .page4-img {
        position: absolute;
        bottom: 0px;
        right: 50px;
    }
    .page4-img .page4-imgs{
        width: 300px;
        border-radius: 30px;
    }
    .container .page4-text {
        font-size: 25px;
        max-width: 90%;
    }
    .container .page4-text-element{
        font-size: 20px;
    }
}
@media screen and (max-width: 1206px) and (min-width: 992px)  {
    .mobile-info .page1-text {
        font-size: 60px;
        margin-left: 15px;
    }

    .page1-info .page1-infotext {
        color: black;
        font-weight: bold;
        font-family: Unbounded, serif;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;
        margin-left: 15px;
    }
    .menu-items {
        font-size: 20px;
        margin-left: 15px;
        color: #676767;
        cursor: pointer;
    }
    .connect {
        width: 100px;
        height: 40px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: bold;
    }
    .laungage {
       position: relative;
        right: -30px;

    }
    .container .page2-haqida{
        font-size: 45px;
        padding-top: 30px;
    }
    .container .page2-card{
        width: 85%;
    }
    .page2-card .page2-text{
        font-size: 30px;
    }
    .page2-card .page2-info{
        font-size: 12px;
    }
    .page3-type {
        display: flex;
        padding-top: 30px;
    }
    .element1 .page-3btn {
        width: 100px;
        height: 40px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: bold;

    }
    .page3-type .element2{
        width: 120px;
        height: 100px;
        border-radius: 50%;
    }
    .page3-xizmat .page3-text{
        font-size: 18px;
    }
    .page3-back {
        max-height: 400px;
        border-radius: 16px;
        box-sizing: border-box !important;
    }
    .page3-back .page3-info {
        padding: 30px 20px;
    }

    .page3-back .page3-img {
        width: 80%;
        padding: 50px 20px 30px 50px;
        border-radius: 40px;
        height: 75%;
    }
    .page4-background .page4-img {
        position: absolute;
        bottom: 0px;
        right: 50px;
    }
    .page4-img .page4-imgs{
        width: 300px;
        border-radius: 30px;
    }
    .container .page4-text {
         font-size: 28px;
    }
    .container .page4-text-element{
        font-size: 20px;
    }

}

/*page1 css*/
.page1-mobile {
    width: 100%;
}

.page1 {
    margin-top: 150px;
}

.page1-text {
    color: #AE0C0E;
    max-width: 700px;
    font-size: 80px;
    min-height: 0;
    font-family: Unbounded, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.page1-img {
    width: 80%;
    border-radius: 15px;
    margin-left: 30px;
}

.page1-info {
    display: flex;
}

.page1-infotext {
    max-width: 400px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #272121;
    padding: 0;

}

.connect-all {
    width: 170px;
    height: 50px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
    background-color: #AE0C0E;
    color: white;
    cursor: pointer;
    border: none;
}
.connect-all:hover {
    background-color: rgba(68, 5, 5, 0.8);
}

/*page2 css*/
.page2-card {
    margin-top: 30px;
    width: 90%;
    border: 2.3px solid #cccccc93;
    padding: 14px;
    border-radius: 15px;
    margin-right: 0;
    padding-bottom: 10px;
}
.page2-img{
    width: 85%;
}
.page2-xizmat-text{
    color: #666;
    font-family: sans-serif;
    font-size: 20px;
}
.page2-haqida{
    font-size: 45px;
    padding-top: 80px;
}

.page2-icon {
    font-size: 50px;
    color: #AE0C0E;
    text-align: center;
}

.page2-text {
    color: #020c31;
    font-family: Unbounded;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.page2-info {
    color: #676d83;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.backimage {
    width: 100%; /* Set the width to 100% */
    height: 550px;
    background-image: linear-gradient(270deg, rgba(46, 61, 91, .566) 70%, rgba(255, 255, 255, 0)), url(../images/image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*object-fit: cover;*/
    display: flex;
    justify-content: space-evenly;
    border-radius: 16px;
    margin-top: 70px;
    box-sizing: border-box;
}

.backimage-content {
    padding: 20px 25px;
}



.page2-info2 {
    max-width: 900px;
    color: #fafafa;
    font-family: Unbounded;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 20px;
}

.page2-text2 {
    max-width: 310px;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 60px;
}

.page2-xizmat {
    padding: 25px 10px;
    border: 2.3px solid #020c315d;
    border-radius: 20px;
    margin-bottom: 30px;
}

/*page3 css*/
.page3-xizmat {
    width: 85%;
    background-color: #F3F6F6;
    border-radius: 10px;
    padding: 5px 20px;
    height: 450px;
    margin-bottom: 20px;
    position: relative;
}

.page3-text {
    color: #495157;
    font-family: Unbounded;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 20px;
}

.page3-type {
    display: flex;
    padding-top: 30px;
}

.element1 {
    margin-top: auto;
    margin-right: 15%;
}
.element2{
    width: 140px;
    height: 130px;
    border-radius: 50%;
}

.page3-back {
    min-height: 540px;
    border-radius: 16px;
    background: radial-gradient(498.32% 130.33% at 92.87% 11.25%, #33A9FF 0%, #33FFF3 100%);
    margin-top: 50px;
    box-sizing: border-box;
}

.page3-img {
    width: 80%;
    padding: 20px 20px 30px 50px;
    border-radius: 40px;
    height: 95%;
}

.page3-title {
    max-width: 643px;
    color: #fafafa;
    font-family: Unbounded;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-top: 12px;
    margin-bottom: 50px;
}

.page3-info {
    padding: 50px 20px;
    max-width: 85%;
}

/*page4 css*/
.page4-text {
    color: #676d83;
    font-family: Unbounded;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;
}

.page4-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #F2F2F2;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    text-align: center;
    line-height: 2;
}

.page4-text-element {
    color: #676d83;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    max-height: 0;
    overflow: hidden;
}
.show-answer {
    max-height: 500px;
}

.hide-answer {
    max-height: 0;
}

.page4-title {
    color: #020c31;
    font-family: Unbounded;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.page4-background {
    /*width: 98%;*/
    height: 550px;
    border-radius: 12px;
    background: radial-gradient(333.17% 80.94% at 51.32% 69.21%, #3DA0FC 0%, rgba(2, 227, 214, .2) 100%);
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 24px;
    margin-top: 60px;
}

.page4-card {
    width: 400px;
    max-width: 700px;
    min-height: 385px;
    background-color: #fff;
    border-radius: 8px;
    padding: 0 20px;
    margin: 0 50px;
}

.card-title {
    color: #242825;
    font-family: Unbounded;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.page4-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #242825;
    color: #fff;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 50px;
}

.page4-img {
    position: absolute;
    bottom: 0px;
    right: 150px;
}
.page4-imgs{
    width: 350px;
    border-radius: 30px;
}

.locate {
    display: flex;
    width: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #CCC;
    margin-right: 25px;
    cursor: pointer;
    margin-top: 30px;
}

.foter-text {
    color: #020c31;
    margin-right: 10px;
    margin-top: 25px;
}

/*modal css*/
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.modal-title {
    max-width: 410px;
    color: #242825;
    font-family: Unbounded;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
}

.modal-img {
    text-align: center;
}

.modal-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 20px;
    cursor: pointer;
    text-align: center;
}
